.appointmentContainer {

    background: url('../../../assets/images/appointment.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100px 0px;
    padding: 0px 50px;




}